<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit bookmark</title>

    </head>
    <body>
        
        <h2>Muokkaa lukuvinkkiä</h2>
        
        <div>Otsikko: <span th:text="${editableBook.getTitle()}">name</span></div>
        <div>Kirjoittaja: <span th:text="${editableBook.getAuthor()}">author</span></div>
        <div><span th:if="${editableBook.getIsbn().isEmpty()}" ></span></div>
        <div><span th:unless="${editableBook.getIsbn().isEmpty()}" th:text=" 'ISBN: ' + ${editableBook.getIsbn()} ">isbn</span></div>
        
        <form th:action="@{/editBookmark/{id}(id=${editableBook.getId()})}" method="POST">           

            <div>
                Merkitse luetuksi:<input type="checkbox" name="isRead" th:checked="${editableBook.isRead()}" id="checkbox"/>
            </div>
                        
            <input type="submit" value="Muokkaa" id="muokkaa"/>
                
        </form>
    
         <form th:action="@{/deleteBookmark/{id}(id=${editableBook.getId()})}" method="POST">                    
            <input type="submit" value="Poista" id="delete"/>
        </form>
      
    </body>
</html>
