<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello world!</title>

    </head>
    <body>
        
        <h2>Muokkaa lukuvinkkiä</h2>
                        
        <form th:action="@{/editBookmark}" method="POST">
            <div>Otsikko: <span th:text="${editableBook.getTitle()}">name</span></div>
            <div>Kirjoittaja: <span th:text="${editableBook.getAuthor()}">author</span></div>
            <div><span th:if="${editableBook.getIsbn().isEmpty()}" ></span></div>
            <div><span th:unless="${editableBook.getIsbn().isEmpty()}" th:text=" 'ISBN: ' + ${editableBook.getIsbn()} ">isbn</span></div>

            <div>
                Merkitse luetuksi:<input type="checkbox" name="luettu" value="${editableBook.isRead()}"/>
            </div>
                        
            <input type="submit" value="Muokkaa"/>
        </form>
    </body>
</html>
