<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lukuvinkkikirjasto</title>
    </head>

    <body>
        <h1>Kirjavinkit</h1>
        
        

        <ul>
            <li th:each="book: ${books}">
                kirjan nimi: <span th:text="${book.getTitle()}">name</span><br/>
                kirjan kirjoittaja: <span th:text="${book.getAuthor()}">author</span><br/>
                kirjan isbn: <span th:text="${book.getIsbn()}">isbn</span><br/>
            </li>
        </ul>
        
      
        

        <h2>Lisää uusi kirja</h2>

        <form th:action="@{/}" method="POST">
            <span>kirjan nimi:</span><br/>
            <input type="text" name="title"/><br/>
            <span>kirjoittaja:</span><br/>
            <input type="text" name="author"/><br/>
            <span>ISBN:</span><br/>
            <input type="text" name="isbn"/><br/>
            
            <input type="submit" value="Lisää!"/>
        </form>

       
    </body>
</html>
