<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lukuvinkkikirjasto</title>
    </head>

    <body>
        <h1>Lukuvinkit</h1>

        <div>Tervetuloa, <span th:text="${user}">user</span></div>

        <br>
        <a href="settings.html">Tästä pääset asetuksiin</a>
        <br>

        <form th:action="@{/logout}" method="POST"> 
            <input type="submit" id="logout" value="Kirjaudu ulos"/> 
        </form>

        <ul>
            <li th:each="book: ${books}">
                <div>Otsikko: <span th:text="${book.getTitle()}">name</span></div>
                <div>Kirjoittaja: <span th:text="${book.getAuthor()}">author</span></div>
                <div><span th:if="${book.getIsbn().isEmpty()}" ></span></div>
                <div><span th:unless="${book.getIsbn().isEmpty()}" th:text=" 'ISBN: ' + ${book.getIsbn()} ">isbn</span></div>
                <div>Luettu: <span th:text="${book.isRead()} ? 'kyllä' : 'ei'">luettu</span></div>
                <a th:href="@{/editBookmark/{id}(id=${book.getId()})}" id="editBook">Muokkaa</a>
            </li>
        </ul>




        <h2>Lisää uusi lukuvinkki</h2>

        <form th:action="@{/}" method="POST">
            <span>Tyyppi: </span>
            <select id="type" name="type">
                <option th:each="type: ${types}" th:value="${type}" th:text="${type}">            
                </option>
            </select><br/>
            <span>Otsikko:</span><br/>
            <input type="text" id="title" name="title" required="true"/><br/>
            <span>Kirjoittaja:</span><br/>
            <input type="text" id="author" name="author" required="true"/><br/>
            <span>ISBN:</span><br/>
            <input type="text" id="isbn" name="isbn"/><br/>

            <input type="submit" id="addBook" value="Lisää!"/>
        </form>


    </body>
</html>
