<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lukuvinkkikirjasto</title>
    </head>

    <body>
        <h1>Lukuvinkit</h1>
        
        

        <ul>
            <li th:each="book: ${books}">
                <div>Otsikko: <span th:text="${book.getTitle()}">name</span></div>
                <div>Kirjoittaja: <span th:text="${book.getAuthor()}">author</span></div>
                <div><span th:if="${book.getIsbn().isEmpty()}" ></span></div>
                <div><span th:unless="${book.getIsbn().isEmpty()}" th:text=" 'ISBN: ' + ${book.getIsbn()} ">isbn</span></div>
                <div><input type="checkbox" name="luettu" value="${book.isRead()}"/>luettu</div>
                <a th:href="@{/editBookmark/{id}(id=${book.getId()})}">Muokkaa</a>
            </li>
        </ul>
        
      
        

        <h2>Lisää uusi lukuvinkki</h2>
                        
        <form th:action="@{/}" method="POST">
            <span>Tyyppi: </span>
            <select id="type" name="type">
                <option th:each="type: ${types}" th:value="${type}" th:text="${type}">            
                </option>
            </select><br/>
            <span>Otsikko:</span><br/>
            <input type="text" name="title" required="true"/><br/>
            <span>Kirjoittaja:</span><br/>
            <input type="text" name="author" required="true"/><br/>
            <span>ISBN:</span><br/>
            <input type="text" name="isbn"/><br/>
                        
            <input type="submit" value="Lisää!"/>
        </form>

       
    </body>
</html>
