<!doctype html>
<html>
    <head>
        <title>Rekisteröidy</title>
    </head>

    <body>
        <form th:action="@{/register}" method="POST">
            <fieldset>
                <legend>Rekisteröidy</legend>
                    <div><span th:if="${error}"> Virhe</span></div>
                    <label>Käyttäjätunnus:</label>
                    <input type="text" id="username" name="username"><br/>

                    <label>Salasana:</label>
                    <input type="password" id="password" name="password"><br/>

                    <input type="submit" id="register" value="Luo uusi"/>
            </fieldset>

        </form>
    </body>
</html>