<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Asetukset</title>
    </head>

    <body>

        <h1>Käyttäjän asetukset</h1>

        <form th:action="@{/settings}" method="POST">
                <label>Vaihda nimeä:</label>
                <input type="text" id="displayname" name="displayname"><br/>

                <label>Liity ryhmään / luo ryhmä:</label>
                <input type="text" id="group" name="group"><br/>

                <input type="submit" id="settings" value="Tallenna muutokset"/>
        </form>

    </body>

</html>