<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Asetukset</title>
    </head>

    <body>

        <h1>Käyttäjän asetukset</h1>

        <form th:action="@{/settings}" method="POST">
            <fieldset>
            	<legend>Vaihda nimesi</legend>
            	Voit vaihtaa etusivulla näytettävää nimeä. Kirjautumiseen
            	käytettävä nimi pysyy samana tästä riippumatta.
            	
                <label>Uusi nimi:</label>
                <input type="text" id="displayName" name="displayName" th:value="${displayName}"/>
            </fieldset>
            
            <fieldset>
                <legend>Liity ryhmään</legend>
                Kirjoita tähän saamasi ryhmän nimi liittyäksesi siihen.
                Kentän tyhjentäminen poistaa sinut nykyisestä ryhmästäsi.
                
                <label>Ryhmä:</label>
                <input type="text" id="group" name="group" th:value="${group}">
            </fieldset>
            <input type="submit" id="settings" value="Tallenna muutokset"/>
        </form>

    </body>

</html>